body[b-slq6plh6e2] {
}

.sidebyside[b-slq6plh6e2] {
    display: flex;
    align-items: center;
}

.dropdowndiv[b-slq6plh6e2] {
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 100px;
}

.mr-10[b-slq6plh6e2] {
    margin-right: 10px;
}
.ml-10[b-slq6plh6e2] {
    margin-left: 10px;
}
.mb-10[b-slq6plh6e2] {
    margin-bottom: 10px;
}

