body[b-zxu23a15t4] {

}

.info[b-zxu23a15t4] {
    
}
h1[b-zxu23a15t4] {

}

.outerDiv[b-zxu23a15t4] {
    background-color: rgb(5, 39, 103);
    color: white;
    margin: 20px;
    border-radius:10px;
}

.innerDiv[b-zxu23a15t4]{
    padding:10px;
}