@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage protectedLocalStorage
@inject NavigationManager NavigationManager
@inject EntryContainer EntryContainer

@page "/books"

<PageTitle>Books</PageTitle>

<h1>Books</h1>

@if (sortedList.Count > 0)
{
    @foreach (Entry entry in sortedList)
    {
        <div class="outerDiv">
            <div class="innerDiv">
                <h3>@entry.name</h3>
                <label class="form-label"> Format:&nbsp;@entry.type &nbsp; | &nbsp;</label>
                <label class="form-label"> Rating:&nbsp;@entry.rating / 10 &nbsp; | &nbsp;</label>
                <label class="form-label"> Genre:&nbsp;@entry.genre &nbsp; | &nbsp;</label>
                <label class="form-label"> Shelf:&nbsp;@entry.shelf &nbsp; | &nbsp;</label>
                <label class="form-label"> Date Started:&nbsp;@entry.dateStarted &nbsp; | &nbsp;</label>
                <label class="form-label"> Date Finished:&nbsp;@entry.dateFinished &nbsp; | &nbsp;</label>
                <br />
                <label class="form-label"> @entry.thoughts &nbsp;</label>
                <button class="btn btn-primary" @onclick="@(() => EditEntry(entry))">Edit</button>
            </div>
        </div>
    }
}

@code {
    List<Entry> entryList = new List<Entry>();
    List<Entry> sortedList = new List<Entry>();

    protected override async Task OnInitializedAsync()
    {
        await GetEntryLocal();
    }

    private async Task GetEntryLocal()
    {
        var result = await protectedLocalStorage.GetAsync<List<Entry>>("entryList");
        if (result.Value != null)
            entryList = result.Value;
        foreach(Entry entry in entryList)
        {
            if(entry.type == ETypes.Book)
            {
                sortedList.Add(entry);
            }
        }
    }

    private void EditEntry(Entry entry)
    {
        EntryContainer.Entry = entry;
        NavigationManager.NavigateTo("/edit");
    }

    private async Task DeleteEntryLocal()
    {
        //await protectedLocalStorage.DeleteAsync(entry.id.ToString());
    }
}