body {
}

.sidebyside {
    display: flex;
    align-items: center;
}

.dropdowndiv {
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 100px;
}

.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}

